<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="post_title_panel">
      <%= @post.title %></h3> <span id="date"><%= @post.date_published %></span>
  </div>
  <div class="panel-body">
      <%= image_tag @post.user.image(:small) %><br>
      <b>User Name:</b> <%= @post.user.user_name %><br>
      <b>Category:</b> <%= @post.category %>
      <span class="postBody move"><%= @post.body %></span><br>
      <div>
        <% if current_user %>

          <%= link_to post_path(@post.id), method: :get, class: "btn btn-default", id: "thumb" do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>


          <% end %>
        <% end %>
      </div>
      <% if current_user %>
        <% if current_user.id == @post.user_id %>
        <%= link_to "Edit Post", edit_post_path(@post.id) %>
        <%= link_to "Delete Post", delete_post_path(@post.id), method: :delete %>
        <% end %>
      <% end %>
    <br>
  </div>
</div>
<div class="">
  <%= will_paginate @comments %>
  <% @post.comments.each do |c| %>
  <ul class="list-group">
    <li class="list-group-item"><br>
      <% if c.user %>
        <%= image_tag c.user.image(:small) %>
        <%= c.user.user_name %>
        <span id='date_comment'><%= c.date_published %></span>
      <% else %>
        Anonymous User
      <% end %>
      <span class="move_right"><%= c.body %></span><br>
      <% if current_user && current_user.id == c.user.id %>
        <%= link_to "Edit", {controller: "comments", action: "edit", id: c.id, post_id: c.post_id} %>
        <%= link_to "Delete", {controller: "comments", action: "destroy", id: c.id, post_id: c.post_id}, method: :delete %>
      <% end %>

      <% c.replies.each do |r| %>
      <% if current_user %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= r.user.user_name %>: <%= r.body %>
          <span id='date_comment'><%= r.date_published %></span>
        </div>
        </div>



      <% end %>
      <% end %>
      <%= render 'replies/form', :comment => c %>
    </li>
  </ul>
  <% end %>
</div>

<% if current_user %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <label for="code" id="comment_color">Comment</label>
        <%= form_for [@post, @new_comment] do |f| %>
        <%= f.text_area :body, class: 'form-control input-md', id: 'comment_box_size' %><br>
        <div class="row" id="comment_button">
        <%=f.submit "Submit Comment", class: 'btn btn-default' %>
        </div>
    <%end%>
  </div>
</div>
<% end %>
