<h1><%= @post.title %></h1>


  <h2><b>User Name:</b> <%= @post.user.user_name %></h2>
  <p><b>Post:</b> <%= @post.body %></p>
  <p><b>Category:</b> <%= @post.category %></p>

  <br>


<%= render('comments/new') %>
