<div id='sign_up_head'>
  <h1>Sign Up</h1>
</div>
<%= form_for @user do |f| %>
    <div class="col-md-11 col-md-push-1">
      <div class="col-md-12">
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span><strong>
            <% for message in @user.errors.full_messages %>
              <%= message %></strong>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <form role="form">
          <div class="col-lg-6">
          <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong>
          </div>
          <div id="sign_up">
            <div class="form-group">
              <div class="input-group">
                <%= f.text_field :user_name, placeholder: "User Name", id:"InputName", class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <%= f.text_field :email, placeholder: "Email", id: "InputEmailFirst", class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <%= f.password_field :password, placeholder: "Password", id: "InputPasswordFirst", class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", id: "InputPasswordSecond", class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <%= f.text_field :bio, placeholder: "Bio", id: "InputBio", class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <%= f.file_field :image, placeholder: "Upload Image", id: "InputImage", class: "form-control" %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              </div>
            </div>
            <%= f.submit class: "btn btn-info pull-right" %>
          </div>
        </form>
      </div>
    </div>
<% end %>
